In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
imdbdata=pd.read_csv('IMDB-Movie-Data.csv')

In [8]:
imdbdata.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [9]:
imdbdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
Rank                  1000 non-null int64
Title                 1000 non-null object
Genre                 1000 non-null object
Description           1000 non-null object
Director              1000 non-null object
Actors                1000 non-null object
Year                  1000 non-null int64
Runtime (Minutes)     1000 non-null int64
Rating                1000 non-null float64
Votes                 1000 non-null int64
Revenue (Millions)    872 non-null float64
Metascore             936 non-null float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.8+ KB

In [13]:
imdbdata=imdbdata.rename(columns = {'Revenue (Millions)':'Revenue_Millions'})

In [14]:
imdbdata=imdbdata.rename(columns = {'Runtime (Minutes)':'Runtime_Minutes'})

In [15]:
imdbdata["Genre"].value_counts()

Action,Adventure,Sci-Fi       50
Drama                         48
Comedy,Drama,Romance          35
Comedy                        32
Drama,Romance                 31
Comedy,Drama                  27
Animation,Adventure,Comedy    27
Action,Adventure,Fantasy      27
Comedy,Romance                26
Crime,Drama,Thriller          24
Crime,Drama,Mystery           23
Action,Adventure,Drama        18
Action,Crime,Drama            17
Horror,Thriller               16
Drama,Thriller                15
Action,Adventure,Comedy       14
Adventure,Family,Fantasy      14
Biography,Drama               14
Biography,Drama,History       14
Action,Comedy,Crime           12
Action,Crime,Thriller         12
Action,Adventure,Thriller     11
Horror                        11
Crime,Drama                   10
Animation,Action,Adventure     9
Biography,Crime,Drama          9
Thriller                       9
Action,Thriller                9
Horror,Mystery,Thriller        9
Adventure,Comedy,Drama         8
                              ..
Drama,Fantasy,Mystery          1
Biography,Drama,Family         1
Action,Crime,Sport             1
Drama,Fantasy,War              1
Comedy,Romance,Sport           1
Action,Horror,Mystery          1
Action,Drama,Horror            1
Action,Biography,Crime         1
Drama,Fantasy,Musical          1
Action,Crime,Sci-Fi            1
Biography,Comedy,Crime         1
Drama,Fantasy,Music            1
Comedy,Sci-Fi                  1
Adventure,Biography,Crime      1
Drama,Family,Music             1
Animation,Fantasy              1
Action,Comedy,Family           1
Drama,Musical,Romance          1
Mystery,Romance,Sci-Fi         1
Drama,Mystery,War              1
Animation,Drama,Romance        1
Adventure,Horror,Mystery       1
Adventure                      1
Drama,History,War              1
Adventure,Comedy,Horror        1
Action,Comedy,Sport            1
Sci-Fi,Thriller                1
Comedy,Music,Romance           1
Drama,Western                  1
Comedy,Romance,Western         1
Name: Genre, Length: 207, dtype: int64

In [20]:
seperate_genre='Action','Adventure','Animation','Biography','Comedy','Crime','Drama','Fantasy','Family','History','Horror','Music','Musical','Mystery','Romance','Sci-Fi','Sport','Thriller','War','Western'
for genre in seperate_genre:
    df = imdbdata['Genre'].str.contains(genre).fillna(False)
    print('Number of movies with',genre,'=',len(imdbdata[df]))

Number of movies with Action = 303
Number of movies with Adventure = 259
Number of movies with Animation = 49
Number of movies with Biography = 81
Number of movies with Comedy = 279
Number of movies with Crime = 150
Number of movies with Drama = 513
Number of movies with Fantasy = 101
Number of movies with Family = 51
Number of movies with History = 29
Number of movies with Horror = 119
Number of movies with Music = 21
Number of movies with Musical = 5
Number of movies with Mystery = 106
Number of movies with Romance = 141
Number of movies with Sci-Fi = 120
Number of movies with Sport = 18
Number of movies with Thriller = 195
Number of movies with War = 13
Number of movies with Western = 7